div.bot-list-element{
    height:30px;
    overflow: hidden;
    background-color: rgb(30,30,30);
    margin-bottom:10px;
    border-radius: 8px;
    width: 300px;
    display:flex;
    padding-inline:10px;
    box-sizing: border-box;
    animation:popout .3s cubic-bezier(0.21, 1.57, 0.55, 1);

}
@keyframes popout {
    0%{
        scale:.5 0;
        height:0px;
    }
    100%{
        scale:1 1;
        height:30px;
    }
}
div.bot-list-element p{
    margin-block:auto;
    display:inline-block;
    transform:translateY(1.75px);
    flex-grow: 1;
}
div.bot-list-element img{
    height:30px;
    width: 30px;
    display:inline-block;
    vertical-align: middle;
    scale:0.7;
    padding-left:10px;
    cursor: pointer;
    transition:  transform 0.3s cubic-bezier(0.21, 1.57, 0.55, 1), opacity 0.3s;
    opacity:0.5;    
}
div.bot-list-element img:hover{
    transform:scale(0.8);
    opacity:1;
}
div.bot-list-element div.switcher-component{
    margin-block:auto;
    width: 115px;
    
}
div.bot-list-add{
    height:25px;
    overflow: hidden;
    text-align: center;
    margin-inline:10px;
    border-radius: 8px;
    background-color: rgb(25,25,25);
    cursor: pointer;
    transition:  transform 0.3s cubic-bezier(0.21, 1.57, 0.55, 1);
}
div.bot-list-add:hover{
    transform:scale(0.9)
}