#root {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

*[data-tooltip-hover]::after {
    content: attr(data-tooltip-hover);
    opacity: 0;
    font-size: 14px;
    padding: 3px 6px;
    color: white;
    transition: opacity ease-out 0.1s;
    user-select: none;
    width: max-content;
    height: max-content;
    transform: translateY(-100%) translateX(-50%);
    letter-spacing: normal;
    z-index: 1200000000;
    position: absolute;
    top: -0.25rem;
    left: 50%;
    border-radius: 0.5vh;
    background-color: black;
    user-select: none;
    visibility: hidden;
}

*[data-tooltip-hover][data-tooltip-color]::after {
    background-color: attr(data-tooltip-color);
}

*[data-tooltip-hover]:hover::after {
    visibility: visible;
    opacity: 0.9;
}

*[data-tooltip]::after {
    content: attr(data-tooltip);
    opacity: 0.9;
    font-size: 14px;
    padding: 3px 6px;
    color: white;
    transition: opacity ease-out 0.1s;
    user-select: none;
    width: max-content;
    height: max-content;
    transform: translateY(-100%) translateX(-50%);
    letter-spacing: normal;
    z-index: 1200000000;
    position: absolute;
    top: -0.25rem;
    left: 50%;
    border-radius: 0.5vh;
    background-color: black;
    user-select: none;
}



body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background-color: rgb(20, 20, 20);
}

div.entry {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    flex-direction: row;
    gap: 20px;
}

div.entry nav {
    background-color: rgba(30, 30, 30, 100%);
    width: 40px;
    height: fit-content;
    padding-block: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    justify-content: flex-start;
    position: initial;
    height: 100%;
}

img#landscape {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

div.entry nav button {
    width: 40px;
    aspect-ratio: 1;
    display: block;
    background-color: rgb(0, 0, 0, 0%);
    border: 0;
    outline: 0;
    transition: transform 0.3s cubic-bezier(0.21, 1.57, 0.55, 1);
    cursor: pointer;
}

div.entry nav button:hover {
    transform: scale(0.9);
}

div.entry nav button img {
    width: 100%;
}

div.entry nav button[data-select="false"] {
    opacity: 0.5;
}

div.entry nav button[data-select="false"]:hover {
    opacity: 1;
}

div.entry main ol li {
    margin-bottom: 10px;
}

div.entry main ol li i {
    display: block;
    font-style: normal;
    font-weight: 500;
    background-color: rgb(30, 30, 30);
    width: fit-content;
    padding: 2px 10px;
    border-radius: 5px;
}

div.entry main {
    all: unset;
    display: block;
    flex-grow: 1;
}

div.entry main header {
    color: white;
    margin-bottom: 20px;
}

div.entry main p {
    color: white;
    margin: 0;
    margin-bottom: 10px;
}

div.entry main h3 {
    margin: 0;
}

div.entry main input[type="password"],
div.entry main input[type="text"] {
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
    width: 100%;
}

div.entry main input:disabled {
    cursor: not-allowed;
}

div.entry main input:focus {
    outline: 0;
}

div.entry main h5 {
    color: white;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 400;
}

div.entry main h5 input {
    margin: 0;
}

div.entry main button {
    font-size: 20px;
    color: white;
    background-color: #0075ff;
    display: block;
    padding-inline: 40px;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
    padding-block: 3px;
    border: 0;
    outline: 0;
    transition: scale 0.35s cubic-bezier(0, 0.6, 0.28, 1.47);
}

div.entry main button:hover {
    scale: 0.85;
}

div.entry main button:active {
    scale: 0.925;
}

div.entry main button:disabled {
    animation: disabledAnim 1s ease-out infinite;
    cursor: wait;
}

div.entry main button:disabled:hover {
    scale: 1;
}

div.entry main button:disabled:active {
    scale: 1;
}

@keyframes disabledAnim {
    0% {
        filter: blur(0px) grayscale(0.5);
    }

    50% {
        filter: blur(0px) grayscale(1);
    }

    100% {
        filter: blur(0px) grayscale(0.5);
    }
}

div.lobby {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
    display: block;
    transform: translateX(-50%) translateY(-50%);
}

div.lobby h3 {
    color: white;
    font-weight: 100;
}

div.lobby main {
    all: unset;
    display: flex;
    gap: 100px;
}

div.lobby section {
    display: grid;
    justify-content: center;
    align-content: center;

}

div.lobby button {
    font-size: 20px;
    color: white;
    background-color: rgb(35, 35, 35);
    display: block;
    padding-inline: 40px;
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;
    padding-block: 3px;
    border: 0;
    outline: 0;
    transition: scale 0.35s cubic-bezier(0, 0.6, 0.28, 1.47);
}

div.lobby button:hover {
    scale: 0.85;
}

div.lobby button:active {
    scale: 0.925;
}

div.lobby button:disabled {
    filter: grayscale(1);
    cursor: wait;
}

div.lobby button:disabled:hover {
    scale: 1;
}

div.lobby button:disabled:active {
    scale: 1;
}

p.lobby-players {
    font-family: consolas, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    margin: 5px;
    background-color: rgb(35, 35, 35);
    width: fit-content;
    padding-inline: 15px 30px;
    padding-block: 2px;
    color: white;
    border-radius: 3px;
    width: 100%;
    animation: lobbypop .3s cubic-bezier(0.21, 1.57, 0.55, 1);
}

div.entry nav.login {
    all: unset;
    display: block;
    width: 200px;
}

div.entry nav.login button {
    all: unset;
    color: white;
    background-color: rgb(30, 30, 30);
    width: fit-content;
    padding: 0;
    margin: 0;
    width: 100px;
    display: inline-block;
    text-align: center;
    text-transform: lowercase;
    font-family: consolas;
    cursor: pointer;
    transition: translate 0.1s ease-out;
}

div.entry nav.login button[data-selected]:hover {
    translate: 0px 2px;
}

div.entry nav.login button[data-selected="true"] {
    background-color: #0075ff;
}

div.entry main main.login input {
    width: auto;
    display: block;
}

div.entry main div.user-credentials {
    background-color: rgb(25, 25, 25);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    gap: 50px;
}

div.entry main div.user-credentials p {
    margin-block: auto;
    display: inline-block;
}

div.entry main div.user-credentials button {
    background-color: red;
    color: white;
    margin: 0;
    height: 20px;
    margin-block: auto;
    font-size: 12px;
    padding: 0px 10px;
}

div.entry main table {
    color: white;
    padding-inline: 10px;
    border-radius: 10px;
    background-color: rgb(30, 30, 30);
}

div.entry main table tr {
    margin: 0;
}

div.entry main table tr td:nth-child(1) {
    text-align: left;
    opacity: 0.8;
    margin-block: auto;
}

div.entry main table tr td:nth-child(2) {
    text-align: right;
    opacity: 1;
    font-family: consolas;
}

div.entry main nav.join {
    background-color: rgb(25, 25, 25);
    height: 30px;
    width: fit-content;
    padding-block: 0;
    padding-inline: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    gap: 20px;
    padding-inline: 30px;
}

div.entry main nav.join button {
    all: unset;
    height: 20px;
    margin-block: auto;
    aspect-ratio: 1;
    display: inline-block;
    background-color: rgb(0, 0, 0, 0%);
    border: 0;
    outline: 0;
    transition: transform 0.3s cubic-bezier(0.21, 1.57, 0.55, 1);
    cursor: pointer;
}

div.entry main nav.join button img {
    display: inline-block;
}

div.entry main nav.join button:hover {
    transform: scale(0.9);
}

div.entry main nav.join button img {
    width: 100%;
}

div.entry main nav.join button[data-select="false"] {
    opacity: 0.5;
}

div.entry main nav.join button[data-select="false"]:hover {
    opacity: 1;
}






div.modes main {
    display: block;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
    aspect-ratio: 1.5;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 5px;
}

div.modes main h3 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}

div.modes main p {
    background-color: rgba(0, 0, 0, 0);
    display: block;
    margin: 10px;
    padding: 0;
    font-size: 15px;
    list-style-type: circle;
    cursor: default;
}

div.modes>div {
    display: flex;
    justify-content: center;
    padding-inline: 10px;
    gap: 10px;
}

div.modes>button {
    margin-inline: auto;
    margin-block: 2px;
}

div.modes div.selecting-mde {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns */
    grid-template-rows: repeat(2, 1fr);
    /* 2 rows */
    /* You can adjust the gap between items as needed */
    margin-top: 10px;
}

div.modes p {
    display: inline-block;
    background-color: rgb(35, 35, 35);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: scale .35s cubic-bezier(0, .6, .28, 1.47);
    margin: 0;
    text-align: center;
}

div.modes p[data-disabled="true"] {
    opacity: 0.5;
    cursor: auto;
}

div.modes p[data-select="true"] {
    background-color: #0075FF;
}

div.modes p[data-select="true"][data-disabled="true"] {
    background-color: rgba(20, 185, 20, 25%);
}

div.modes p[data-disabled="false"]:hover {
    scale: 0.9
}

div.modes p[data-disabled="true"]:hover {
    cursor: default;
}

div.modes table {
    padding: 0;
    margin: 0;
    width: 100%;
}

div.modes table tr td {
    padding-bottom: 10px;
}

div.modes table tr td:nth-child(1) {
    font-weight: 100;

}

div.modes table tr td:nth-child(2) {
    font-family: consolas;
    text-align: right;
    padding-left: 15px;
}

p#floating-clock {
    all: unset;
    font-family: consolas;
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    right: 50%;
    translate: -50% -50%;

}

p#floating-clock.clocking {
    animation: clock 1s cubic-bezier(0, .6, .28, 1.47) infinite;
}

@keyframes clock {
    0% {
        scale: 0;
    }

    100% {
        scale: 1;
    }
}

div.loginPageHeader {
    display: flex;
    width: 100%;
}

div.loginPageHeader h3 {
    flex-grow: 1;
}

div.scoreboardIcon {
    width: 30px;
    margin-block: auto;
}

div.scoreboardIcon img {
    width: 30px;
    margin-block: auto;
    transition: scale .3s cubic-bezier(0.21, 1.57, 0.55, 1);
    cursor: pointer;
}

div.scoreboardIcon img:hover {
    scale: 0.8;
}


@keyframes lobbypop {
    0% {
        scale: .5 0;
        height: 0px;
    }

    100% {
        scale: 1 1;
        height: 27px;
    }
}